# 실습 ) winequality-red.csv 화일로 panda row, cols 익히기

# https://hoy.kr/1duBZ 참고 싸이트
1. 라이브러리 import

2. 데이터 읽고, 데이터 확인 - shape, head

3. 결측치 확인 (컬럼별 null 데이터 건수로 확인)
    -isnull()
    -isnull().sum()

4. column 변경하기
    -column명에 공백 제거(fixed acidity -> fixed_acidity)

5. 일부 컬럼 데이터 보기
    -fixed_acidity 확인

6. 필요 컬럼 추출해서 새로운 db만들기 (wine_four)
    - fixed_acidity, volatile_acidity, citic_acid, residual_sugar

In [44]:
import numpy as np
import pandas as pd

df = pd.read_csv('c:/chosungeun/data/winequality-red.csv', delimiter=';')
df.shape

(1599, 12)

In [45]:
df.head(5)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [23]:
df.isnull().sum()

fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
quality                 0
dtype: int64

In [50]:
df.columns=df.columns.str.replace(' ','_')
df

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [53]:
df['fixed_acidity']

0        7.4
1        7.8
2        7.8
3       11.2
4        7.4
        ...
1594     6.2
1595     5.9
1596     6.3
1597     5.9
1598     6.0
Name: fixed_acidity, Length: 1599, dtype: float64

In [62]:
wine_four=pd.DataFrame(df,columns=['fixed_acidity', 'volatile_acidity', 'citic_acid', 'residual_sugar'])
wine_four

      fixed_acidity  volatile_acidity  citic_acid  residual_sugar
0               7.4             0.700         NaN             1.9
1               7.8             0.880         NaN             2.6
2               7.8             0.760         NaN             2.3
3              11.2             0.280         NaN             1.9
4               7.4             0.700         NaN             1.9
...             ...               ...         ...             ...
1594            6.2             0.600         NaN             2.0
1595            5.9             0.550         NaN             2.2
1596            6.3             0.510         NaN             2.3
1597            5.9             0.645         NaN             2.0
1598            6.0             0.310         NaN             3.6

[1599 rows x 4 columns]

# 컬럼명 바꾸기(2개 컬럼만)
-pH->ph_5
-quality->quality_6

# 전체 컬럼에서 숫자가 들어 있는 컬럼만 추출하기
-df.filter()

# 컬럼 순서가 바뀐 새로운 wine_df2 만들기
-pH_5, sulphates, alchol, quality_6
-chlorides, free_sulfur_dioxide, total_sulfur_dioxide, density
-fixed_acidity, volatile_acidity, citic_acid, residual_sugar

In [72]:
# 컬럼명 바꾸기(2개 컬럼만)

df = df.rename({'pH':'ph_5','quality':'quality_6'},axis='columns')
df.head(5)

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,ph_5,sulphates,alcohol,quality_6
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [67]:
# 전체컬럼에서 숫자가 들어 있는 칼럼만 추출하기, 정규표현식

df.filter(regex='\d',axis=1) # \d는 숫자를 말함

      ph_5  quality_6
0     3.51          5
1     3.20          5
2     3.26          5
3     3.16          6
4     3.51          5
...    ...        ...
1594  3.45          5
1595  3.52          6
1596  3.42          6
1597  3.57          5
1598  3.39          6

[1599 rows x 2 columns]

In [86]:
# 컬럼 순서가 바뀐 새로운 wine_df2 만들기

group_1=['ph_5', 'sulphates', 'alcohol', 'quality_6']

group_2=['chlorides', 'free_sulfur_dioxide', 'total_sulfur_dioxide', 'density']

group_3=['fixed_acidity', 'volatile_acidity', 'citric_acid', 'residual_sugar']

new_cols= group_1+ group_2 + group_3

In [115]:
df2=df[new_cols]
df2

,ph_5,sulphates,alcohol,quality_6,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,fixed_acidity,volatile_acidity,citric_acid,residual_sugar
0,3.51,0.56,9.4,5,0.076,11.0,34.0,0.99780,7.4,0.700,0.00,1.9
1,3.20,0.68,9.8,5,0.098,25.0,67.0,0.99680,7.8,0.880,0.00,2.6
2,3.26,0.65,9.8,5,0.092,15.0,54.0,0.99700,7.8,0.760,0.04,2.3
3,3.16,0.58,9.8,6,0.075,17.0,60.0,0.99800,11.2,0.280,0.56,1.9
4,3.51,0.56,9.4,5,0.076,11.0,34.0,0.99780,7.4,0.700,0.00,1.9
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,3.45,0.58,10.5,5,0.090,32.0,44.0,0.99490,6.2,0.600,0.08,2.0
1595,3.52,0.76,11.2,6,0.062,39.0,51.0,0.99512,5.9,0.550,0.10,2.2
1596,3.42,0.75,11.0,6,0.076,29.0,40.0,0.99574,6.3,0.510,0.13,2.3
1597,3.57,0.71,10.2,5,0.075,32.0,44.0,0.99547,5.9,0.645,0.12,2.0
1598,3.39,0.66,11.0,6,0.067,18.0,42.0,0.99549,6.0,0.310,0.47,3.6

# 중복데이터 제거

In [109]:
df2.shape

(1599, 12)

In [110]:
df2['density']

0       0.99780
1       0.99680
2       0.99700
3       0.99800
4       0.99780
         ...
1594    0.99490
1595    0.99512
1596    0.99574
1597    0.99547
1598    0.99549
Name: density, Length: 1599, dtype: float64

In [114]:
df2 = df2.drop_duplicates(subset='density') # 중복된 것 제거
df2.shape

(436, 12)

# density로 index를 설정

In [121]:
df2.set_index('density', inplace=True) # inplace = true 는 원데이터도 바뀜

In [140]:
df2.head(10)

,ph_5,sulphates,alcohol,quality_6,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,fixed_acidity,volatile_acidity,citric_acid,residual_sugar
density,,,,,,,,,,,
0.9978,3.51,0.56,9.4,5,0.076,11.0,34.0,7.4,0.70,0.00,1.9
0.9968,3.20,0.68,9.8,5,0.098,25.0,67.0,7.8,0.88,0.00,2.6
0.9970,3.26,0.65,9.8,5,0.092,15.0,54.0,7.8,0.76,0.04,2.3
0.9980,3.16,0.58,9.8,6,0.075,17.0,60.0,11.2,0.28,0.56,1.9
0.9978,3.51,0.56,9.4,5,0.076,11.0,34.0,7.4,0.70,0.00,1.9
0.9978,3.51,0.56,9.4,5,0.075,13.0,40.0,7.4,0.66,0.00,1.8
0.9964,3.30,0.46,9.4,5,0.069,15.0,59.0,7.9,0.60,0.06,1.6
0.9946,3.39,0.47,10.0,7,0.065,15.0,21.0,7.3,0.65,0.00,1.2
0.9968,3.36,0.57,9.5,7,0.073,9.0,18.0,7.8,0.58,0.02,2.0
0.9978,3.35,0.80,10.5,5,0.071,17.0,102.0,7.5,0.50,0.36,6.1

In [134]:
# density 값이 0.9978인 데이터를 추출하시오.

df2.iloc[int(0.9978)]

# iloc 메서드는 위치 정수를 이용하여 데이터에 접근한다. 따라서 반드시 정수를
# 입력하여야 한다.

ph_5                     3.510
sulphates                0.560
alcohol                  9.400
quality_6                5.000
chlorides                0.076
free_sulfur_dioxide     11.000
total_sulfur_dioxide    34.000
fixed_acidity            7.400
volatile_acidity         0.700
citric_acid              0.000
residual_sugar           1.900
Name: 0.9978, dtype: float64

In [137]:
df2.loc[0.997]

,ph_5,sulphates,alcohol,quality_6,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,fixed_acidity,volatile_acidity,citric_acid,residual_sugar
density,,,,,,,,,,,
0.997,3.26,0.65,9.8,5,0.092,15.0,54.0,7.8,0.760,0.04,2.30
0.997,3.25,0.73,9.2,5,0.114,22.0,114.0,7.7,0.935,0.43,2.20
0.997,3.20,0.56,9.4,5,0.081,30.0,119.0,8.6,0.380,0.36,3.00
0.997,3.36,0.57,9.1,5,0.086,21.0,73.0,7.4,0.500,0.47,2.00
0.997,3.37,0.50,9.4,6,0.082,7.0,28.0,7.8,0.560,0.12,2.00
0.997,3.52,0.58,9.3,6,0.079,8.0,62.0,6.7,0.620,0.21,1.90
0.997,3.24,0.75,11.7,7,0.116,12.0,29.0,10.5,0.420,0.66,2.95
0.997,3.16,0.54,9.1,5,0.112,13.0,95.0,8.4,0.665,0.61,2.00
0.997,3.19,0.70,11.3,6,0.174,6.0,16.0,10.4,0.340,0.58,3.70
0.997,3.26,0.66,11.7,6,0.111,6.0,20.0,10.6,0.480,0.64,2.20
0.997,3.18,0.61,11.8,5,0.085,10.0,25.0,11.0,0.260,0.68,2.55
0.997,3.20,0.71,11.4,6,0.081,25.0,52.0,9.6,0.540,0.42,2.40
0.997,3.06,0.66,13.4,6,0.114,6.0,24.0,10.6,0.440,0.68,4.10
0.997,3.18,1.36,10.3,6,0.067,25.0,57.0,8.9,0.290,0.35,1.90
0.997,3.41,0.57,11.0,4,0.096,5.0,13.0,7.1,0.840,0.02,4.40
0.997,3.37,0.56,11.3,5,0.059,5.0,15.0,8.1,0.780,0.23,2.60
0.997,3.37,0.56,11.3,5,0.059,5.0,15.0,8.1,0.780,0.23,2.60
0.997,3.44,0.60,9.1,5,0.070,13.0,40.0,7.1,0.650,0.18,1.80
0.997,3.47,0.67,9.4,6,0.067,9.0,23.0,7.0,0.640,0.02,2.10
0.997,3.46,0.68,9.5,5,0.067,4.0,11.0,6.4,0.570,0.02,1.80
0.997,3.46,0.68,9.5,5,0.067,4.0,11.0,6.4,0.570,0.02,1.80
0.997,3.44,0.52,9.4,5,0.083,35.0,72.0,7.2,0.410,0.30,2.10
0.997,3.44,0.52,9.4,5,0.083,35.0,72.0,7.2,0.410,0.30,2.10
0.997,3.31,0.62,10.8,5,0.086,28.0,52.0,8.0,0.620,0.35,2.80

# density 행에서 1,4,7 3개 행 데이터를 추출, iloc

In [143]:
df2.iloc[[0,3,6]]

,ph_5,sulphates,alcohol,quality_6,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,fixed_acidity,volatile_acidity,citric_acid,residual_sugar
density,,,,,,,,,,,
0.9978,3.51,0.56,9.4,5,0.076,11.0,34.0,7.4,0.70,0.00,1.9
0.9980,3.16,0.58,9.8,6,0.075,17.0,60.0,11.2,0.28,0.56,1.9
0.9964,3.30,0.46,9.4,5,0.069,15.0,59.0,7.9,0.60,0.06,1.6

In [144]:
df2.loc #loc 메서드는 label을 기반으로 데이터에 접근한다.

# density 행에서 0.9968, 0.9964, 0.9943 데이터를 추출.loc

In [148]:
new_rows=[0.9968, 0.9964, 0.9943]
df2.loc[new_rows]

,ph_5,sulphates,alcohol,quality_6,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,fixed_acidity,volatile_acidity,citric_acid,residual_sugar
density,,,,,,,,,,,
0.9968,3.20,0.68,9.8,5,0.098,25.0,67.0,7.8,0.880,0.00,2.6
0.9968,3.36,0.57,9.5,7,0.073,9.0,18.0,7.8,0.580,0.02,2.0
0.9968,3.11,1.28,9.3,5,0.368,16.0,56.0,8.1,0.560,0.28,1.7
0.9968,3.39,0.53,9.4,6,0.077,29.0,60.0,8.9,0.220,0.48,1.8
0.9968,3.17,0.53,9.4,5,0.084,9.0,67.0,8.5,0.490,0.11,2.3
...,...,...,...,...,...,...,...,...,...,...,...
0.9964,3.39,0.71,11.0,5,0.084,12.0,78.0,7.2,0.540,0.27,2.6
0.9964,3.30,0.72,11.0,6,0.081,32.0,79.0,8.4,0.360,0.32,2.2
0.9964,3.30,0.72,11.0,6,0.081,32.0,79.0,8.4,0.360,0.32,2.2
0.9943,3.58,0.52,9.9,5,0.089,16.0,59.0,5.6,0.615,0.00,1.6
0.9943,3.20,0.60,12.2,6,0.068,29.0,46.0,9.0,0.400,0.43,2.4

In [151]:
df2.iloc[1:4]

,ph_5,sulphates,alcohol,quality_6,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,fixed_acidity,volatile_acidity,citric_acid,residual_sugar
density,,,,,,,,,,,
0.9968,3.20,0.68,9.8,5,0.098,25.0,67.0,7.8,0.88,0.00,2.6
0.9970,3.26,0.65,9.8,5,0.092,15.0,54.0,7.8,0.76,0.04,2.3
0.9980,3.16,0.58,9.8,6,0.075,17.0,60.0,11.2,0.28,0.56,1.9

In [157]:
# df에서 3,4,6번째 컬럼의 전체 row를 추출, iloc

df.iloc[:, [3,4,6]]

      residual_sugar  chlorides  total_sulfur_dioxide
0                1.9      0.076                  34.0
1                2.6      0.098                  67.0
2                2.3      0.092                  54.0
3                1.9      0.075                  60.0
4                1.9      0.076                  34.0
...              ...        ...                   ...
1594             2.0      0.090                  44.0
1595             2.2      0.062                  51.0
1596             2.3      0.076                  40.0
1597             2.0      0.075                  44.0
1598             3.6      0.067                  42.0

[1599 rows x 3 columns]

In [162]:
# 'residual_sugar	chlorides	total_sulfur_dioxide' 추출

df.loc[:,['residual_sugar','chlorides','total_sulfur_dioxide']]

      residual_sugar  chlorides  total_sulfur_dioxide
0                1.9      0.076                  34.0
1                2.6      0.098                  67.0
2                2.3      0.092                  54.0
3                1.9      0.075                  60.0
4                1.9      0.076                  34.0
...              ...        ...                   ...
1594             2.0      0.090                  44.0
1595             2.2      0.062                  51.0
1596             2.3      0.076                  40.0
1597             2.0      0.075                  44.0
1598             3.6      0.067                  42.0

[1599 rows x 3 columns]

In [172]:
# row는 10, 14 이고 cols 7,9 데이터를 추출, iloc로

df.iloc[[10,14], [7,9]]

    density  sulphates
10   0.9959       0.54
14   0.9986       0.88

In [180]:
rows=[10, 14]

columns=['density', 'sulphates']

df.loc[rows,columns]

    density  sulphates
10   0.9959       0.54
14   0.9986       0.88

In [181]:
df

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,ph_5,sulphates,alcohol,quality_6
0,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
1,7.8,0.880,0.00,2.6,0.098,25.0,67.0,0.99680,3.20,0.68,9.8,5
2,7.8,0.760,0.04,2.3,0.092,15.0,54.0,0.99700,3.26,0.65,9.8,5
3,11.2,0.280,0.56,1.9,0.075,17.0,60.0,0.99800,3.16,0.58,9.8,6
4,7.4,0.700,0.00,1.9,0.076,11.0,34.0,0.99780,3.51,0.56,9.4,5
...,...,...,...,...,...,...,...,...,...,...,...,...
1594,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
1595,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,0.76,11.2,6
1596,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
1597,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
1598,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [188]:
# 0.9970이고 'chlorides'값은?

df2.loc[0.9970, 'chlorides']

density
0.997    0.092
0.997    0.114
0.997    0.081
0.997    0.086
0.997    0.082
0.997    0.079
0.997    0.116
0.997    0.112
0.997    0.174
0.997    0.111
0.997    0.085
0.997    0.081
0.997    0.114
0.997    0.067
0.997    0.096
0.997    0.059
0.997    0.059
0.997    0.070
0.997    0.067
0.997    0.067
0.997    0.067
0.997    0.083
0.997    0.083
0.997    0.086
Name: chlorides, dtype: float64

In [189]:
df2

,ph_5,sulphates,alcohol,quality_6,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,fixed_acidity,volatile_acidity,citric_acid,residual_sugar
density,,,,,,,,,,,
0.99780,3.51,0.56,9.4,5,0.076,11.0,34.0,7.4,0.700,0.00,1.9
0.99680,3.20,0.68,9.8,5,0.098,25.0,67.0,7.8,0.880,0.00,2.6
0.99700,3.26,0.65,9.8,5,0.092,15.0,54.0,7.8,0.760,0.04,2.3
0.99800,3.16,0.58,9.8,6,0.075,17.0,60.0,11.2,0.280,0.56,1.9
0.99780,3.51,0.56,9.4,5,0.076,11.0,34.0,7.4,0.700,0.00,1.9
...,...,...,...,...,...,...,...,...,...,...,...
0.99490,3.45,0.58,10.5,5,0.090,32.0,44.0,6.2,0.600,0.08,2.0
0.99512,3.52,0.76,11.2,6,0.062,39.0,51.0,5.9,0.550,0.10,2.2
0.99574,3.42,0.75,11.0,6,0.076,29.0,40.0,6.3,0.510,0.13,2.3
0.99547,3.57,0.71,10.2,5,0.075,32.0,44.0,5.9,0.645,0.12,2.0
0.99549,3.39,0.66,11.0,6,0.067,18.0,42.0,6.0,0.310,0.47,3.6

In [190]:
# volatile_acidity의 index를 구하기 df.columns.get_loc()

df2.columns.get_loc('residual_sugar')

10

In [194]:
# https://hoy.kr/1duBZ 참고 싸이트


start_col = df2.columns.get_loc('residual_sugar')

end_col= start_col+3

df2.iloc[:4, start_col: end_col]

         residual_sugar
density
0.9978              1.9
0.9968              2.6
0.9970              2.3
0.9980              1.9

In [ ]:
mydict=[{'a':1, 'b':2,"c":3, "d":4}, "a":100, "b":200, "c":300, 'd':400]