# 필요한 라이브러리 임포트

In [1]:
import pandas as pd
import numpy as np

import warnings 
warnings.filterwarnings('ignore')

In [2]:
movies=pd.read_csv('c:/chosungeun/data/dataset/1.28_1차 (3)/dataset/tmdb_5000_movies.csv')
movies.head(10)

,budget,genres,homepage,id,keywords,original_language,original_title,overview,popularity,production_companies,production_countries,release_date,revenue,runtime,spoken_languages,status,tagline,title,vote_average,vote_count
0,237000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.avatarmovie.com/,19995,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...",en,Avatar,"In the 22nd century, a paraplegic Marine is di...",150.437577,"[{""name"": ""Ingenious Film Partners"", ""id"": 289...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2009-12-10,2787965087,162.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,Enter the World of Pandora.,Avatar,7.2,11800
1,300000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://disney.go.com/disneypictures/pirates/,285,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...",en,Pirates of the Caribbean: At World's End,"Captain Barbossa, long believed to be dead, ha...",139.082615,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-19,961000000,169.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"At the end of the world, the adventure begins.",Pirates of the Caribbean: At World's End,6.9,4500
2,245000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.sonypictures.com/movies/spectre/,206647,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",en,Spectre,A cryptic message from Bond’s past sends him o...,107.376788,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2015-10-26,880674609,148.0,"[{""iso_639_1"": ""fr"", ""name"": ""Fran\u00e7ais""},...",Released,A Plan No One Escapes,Spectre,6.3,4466
3,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 80, ""nam...",http://www.thedarkknightrises.com/,49026,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",en,The Dark Knight Rises,Following the death of District Attorney Harve...,112.312950,"[{""name"": ""Legendary Pictures"", ""id"": 923}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-07-16,1084939099,165.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,The Legend Ends,The Dark Knight Rises,7.6,9106
4,260000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://movies.disney.com/john-carter,49529,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...",en,John Carter,"John Carter is a war-weary, former military ca...",43.926995,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}]","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2012-03-07,284139100,132.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,"Lost in our world, found in another.",John Carter,6.1,2124
5,258000000,"[{""id"": 14, ""name"": ""Fantasy""}, {""id"": 28, ""na...",http://www.sonypictures.com/movies/spider-man3/,559,"[{""id"": 851, ""name"": ""dual identity""}, {""id"": ...",en,Spider-Man 3,The seemingly invincible Spider-Man goes up ag...,115.699814,"[{""name"": ""Columbia Pictures"", ""id"": 5}, {""nam...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2007-05-01,890871626,139.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}, {""iso...",Released,The battle within.,Spider-Man 3,5.9,3576
6,260000000,"[{""id"": 16, ""name"": ""Animation""}, {""id"": 10751...",http://disney.go.com/disneypictures/tangled/,38757,"[{""id"": 1562, ""name"": ""hostage""}, {""id"": 2343,...",en,Tangled,When the kingdom's most wanted-and most charmi...,48.681969,"[{""name"": ""Walt Disney Pictures"", ""id"": 2}, {""...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2010-11-24,591794936,100.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,They're taking adventure to new lengths.,Tangled,7.4,3330
7,280000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://marvel.com/movies/movie/193/avengers_ag...,99861,"[{""id"": 8828, ""name"": ""marvel comic""}, {""id"": ...",en,Avengers: Age of Ultron,When Tony Stark tries to jumpstart a dormant p...,134.279229,"[{""name"": ""Marvel Studios"", ""id"": 420}, {""name...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2015-04-22,1405403694,141.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,A New Age Has Come.,Avengers: Age of Ultron,7.3,6767
8,250000000,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",http://harrypotter.warnerbros.com/harrypottera...,767,"[{""id"": 616, ""name"": ""witch""}, {""id"": 2343, ""n...",en,Harry Potter and the Half-Blood Prince,"As Harry begins his sixth year at Hogwarts, he...",98.885637,"[{""name"": ""Warner Bros."", ""id"": 6194}, {""name""...","[{""iso_3166_1"": ""GB"", ""name"": ""United Kingdom""...",2009-07-07,933959197,153.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Dark Secrets Revealed,Harry Potter and the Half-Blood Prince,7.4,5293
9,250000000,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",http://www.batmanvsupermandawnofjustice.com/,209112,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 7002...",en,Batman v Superman: Dawn of Justice,Fearing the actions of a god-like Super Hero l...,155.790452,"[{""name"": ""DC Comics"", ""id"": 429}, {""name"": ""A...","[{""iso_3166_1"": ""US"", ""name"": ""United States o...",2016-03-23,873260194,151.0,"[{""iso_639_1"": ""en"", ""name"": ""English""}]",Released,Justice or revenge,Batman v Superman: Dawn of Justice,5.7,7004

# 데이터 전처리

In [3]:
movies_df=movies[['id','title','genres','vote_average','vote_count','popularity','keywords','overview']]
movies_df.head(3)

,id,title,genres,vote_average,vote_count,popularity,keywords,overview
0,19995,Avatar,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",7.2,11800,150.437577,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"[{""id"": 12, ""name"": ""Adventure""}, {""id"": 14, ""...",6.9,4500,139.082615,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,"[{""id"": 28, ""name"": ""Action""}, {""id"": 12, ""nam...",6.3,4466,107.376788,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...

In [4]:
movies_df['genres'][[0]]

0    [{"id": 28, "name": "Action"}, {"id": 12, "nam...
Name: genres, dtype: object

In [5]:
type(movies_df['genres'][0])

str

### str 형태인 genres, keywords 칼럼들을 list형태로 바꿔주기

In [6]:
from ast import literal_eval

movies_df['genres']=movies_df['genres'].apply(literal_eval)

In [7]:
movies_df['genres'].apply(lambda x: [y['name'] for y in x])

0       [Action, Adventure, Fantasy, Science Fiction]
1                        [Adventure, Fantasy, Action]
2                          [Action, Adventure, Crime]
3                    [Action, Crime, Drama, Thriller]
4                [Action, Adventure, Science Fiction]
                            ...
4798                        [Action, Crime, Thriller]
4799                                [Comedy, Romance]
4800               [Comedy, Drama, Romance, TV Movie]
4801                                               []
4802                                    [Documentary]
Name: genres, Length: 4803, dtype: object

In [8]:
type(movies_df['genres'][0])

list

In [9]:
movies_df['genres'] = movies_df['genres'].apply(lambda x: [y['name'] for y in x ])

In [10]:
movies_df

,id,title,genres,vote_average,vote_count,popularity,keywords,overview
0,19995,Avatar,"[Action, Adventure, Fantasy, Science Fiction]",7.2,11800,150.437577,"[{""id"": 1463, ""name"": ""culture clash""}, {""id"":...","In the 22nd century, a paraplegic Marine is di..."
1,285,Pirates of the Caribbean: At World's End,"[Adventure, Fantasy, Action]",6.9,4500,139.082615,"[{""id"": 270, ""name"": ""ocean""}, {""id"": 726, ""na...","Captain Barbossa, long believed to be dead, ha..."
2,206647,Spectre,"[Action, Adventure, Crime]",6.3,4466,107.376788,"[{""id"": 470, ""name"": ""spy""}, {""id"": 818, ""name...",A cryptic message from Bond’s past sends him o...
3,49026,The Dark Knight Rises,"[Action, Crime, Drama, Thriller]",7.6,9106,112.312950,"[{""id"": 849, ""name"": ""dc comics""}, {""id"": 853,...",Following the death of District Attorney Harve...
4,49529,John Carter,"[Action, Adventure, Science Fiction]",6.1,2124,43.926995,"[{""id"": 818, ""name"": ""based on novel""}, {""id"":...","John Carter is a war-weary, former military ca..."
...,...,...,...,...,...,...,...,...
4798,9367,El Mariachi,"[Action, Crime, Thriller]",6.6,238,14.269792,"[{""id"": 5616, ""name"": ""united states\u2013mexi...",El Mariachi just wants to play his guitar and ...
4799,72766,Newlyweds,"[Comedy, Romance]",5.9,5,0.642552,[],A newlywed couple's honeymoon is upended by th...
4800,231617,"Signed, Sealed, Delivered","[Comedy, Drama, Romance, TV Movie]",7.0,6,1.444476,"[{""id"": 248, ""name"": ""date""}, {""id"": 699, ""nam...","""Signed, Sealed, Delivered"" introduces a dedic..."
4801,126186,Shanghai Calling,[],5.7,7,0.857008,[],When ambitious New York attorney Sam is sent t...
4802,25975,My Date with Drew,[Documentary],6.3,16,1.929883,"[{""id"": 1523, ""name"": ""obsession""}, {""id"": 224...",Ever since the second grade when he first saw ...

In [11]:
from ast import literal_eval

movies_df['keywords']=movies_df['keywords'].apply(literal_eval)

In [12]:
movies_df['keywords'].apply(lambda x: [y['name'] for y in x])

0       [culture clash, future, space war, space colon...
1       [ocean, drug abuse, exotic island, east india ...
2       [spy, based on novel, secret agent, sequel, mi...
3       [dc comics, crime fighter, terrorist, secret i...
4       [based on novel, mars, medallion, space travel...
                              ...
4798    [united states–mexico barrier, legs, arms, pap...
4799                                                   []
4800    [date, love at first sight, narration, investi...
4801                                                   []
4802            [obsession, camcorder, crush, dream girl]
Name: keywords, Length: 4803, dtype: object

# 데이터 전처리 끝

장르 Content-based filtering(CBF) 추천시스템
장르를 픽처 벡터화한 후에 행렬을 만들고, 행렬 데이터 값을 코사인 유사도로 계산

1. 장르 피처 벡터화 : genres 칼럼을 count 기반으로 피처 벡터화 변환
2. 코사인 유사도 계산 : 장르 피처 벡터화한 행렬 데이터를 코사인 유사도로 계산 -> 영화 간 유사도 정도를 숫자로 표현
3. (옵션) 새로운 수식 만들기, 평점, 관객의 VOTE수

장르 키워드 전처리 완료
-> 영화마다 장르가 몇개씩 있겠죠

영화간 (장르) 유사도를 계산합니다.

'God father'라는 영화랑 비슷한 영화들이 나옵니다.
영화제목을 입력할 때마다 유사도 기준으로 유사한 영화를 리스트업 해줍니다.

In [13]:
from sklearn.feature_extraction.text import CountVectorizer

# 말뭉치
corpus = [ ' This is the first document', 'This is the second document', 'And the third one.', 'Is this the first document?', 
         'The last document?']

vect = CountVectorizer()
vect.fit(corpus)
vect.vocabulary_

{'this': 9,
 'is': 3,
 'the': 7,
 'first': 2,
 'document': 1,
 'second': 6,
 'and': 0,
 'third': 8,
 'one': 5,
 'last': 4}

In [14]:
movies_df['genres_literal']=movies_df['genres'].apply(lambda x: (' ').join(x))
movies_df['genres_literal'] # 데이터를 학습하기 좋은 상황으로 만들어 줌

0       Action Adventure Fantasy Science Fiction
1                       Adventure Fantasy Action
2                         Action Adventure Crime
3                    Action Crime Drama Thriller
4               Action Adventure Science Fiction
                          ...
4798                       Action Crime Thriller
4799                              Comedy Romance
4800               Comedy Drama Romance TV Movie
4801
4802                                 Documentary
Name: genres_literal, Length: 4803, dtype: object

## 모델 학습

In [15]:
count_vect=CountVectorizer(min_df=0, ngram_range=(1,2)) 

# ngram이란 단어를 하나만 학습하는 것이 아닌 앞뒤로 학습하겠다
# ngram_range : 1 <=n <=2

In [16]:
genre_mat = count_vect.fit_transform(movies_df['genres_literal'])
print(genre_mat.shape)

(4803, 276)

# 코사인 유사도(cosine similarity) 이용해서 영화별 유사도 계산

In [17]:
# 코사인 유사도에 의해서 4803개 영화 각각 유사한 영화들이 계산됨

from sklearn.metrics.pairwise import cosine_similarity

In [18]:
# 코사인 유사도에 의해서 4803개 영화 각각 유사한 영화들이 계산됨

genre_sim=cosine_similarity(genre_mat, genre_mat)

print(genre_sim.shape)

genre_sim

(4803, 4803)

array([[1.        , 0.59628479, 0.4472136 , ..., 0.        , 0.        ,
        0.        ],
       [0.59628479, 1.        , 0.4       , ..., 0.        , 0.        ,
        0.        ],
       [0.4472136 , 0.4       , 1.        , ..., 0.        , 0.        ,
        0.        ],
       ...,
       [0.        , 0.        , 0.        , ..., 1.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        0.        ],
       [0.        , 0.        , 0.        , ..., 0.        , 0.        ,
        1.        ]])

In [19]:
# argsort 함수 : 정렬x, 순서 위치만 알려줌

# sort함수: 정렬을 해줌

# 유사도가 높은 영화를 순서대로 보여줌

# 0번째 영화의 경우는 유사도 순서 : 0번, 3494번, 813번, ....2401번이 유사도 최하

genre_sim_sorted_ind = genre_sim.argsort()[:, ::-1] # 전체를 -1칸 간격으로 
print(genre_sim_sorted_ind[:1])

[[   0 3494  813 ... 3038 3037 2401]]

# 추천함수 ver1 : 장르 코사인 유사도에 의해 영화를 추천해주는 함수

In [20]:
def find_sim_movie_ver1(df, sorted_ind, title_name, top_n=10) :
    title_movie = df[df['title'] == title_name]
    
    title_index = title_movie.index.values
    similar_indexes = sorted_ind[title_index, :(top_n)]
    
    print(similar_indexes)
    
    # 2차원 데이터를 1차원으로 변환
    
    similar_indexes = similar_indexes.reshape(-1)
    
    return df.iloc[similar_indexes]

In [32]:
similar_movies=find_sim_movie_ver1(movies_df, genre_sim_sorted_ind, 'The Godfather', 10)
similar_movies[['title','vote_average','genres','vote_count']]

[[2731 1243 3636 1946 2640 4065 1847 4217  883 3866]]

,title,vote_average,genres,vote_count
2731,The Godfather: Part II,8.3,"[Drama, Crime]",3338
1243,Mean Streets,7.2,"[Drama, Crime]",345
3636,Light Sleeper,5.7,"[Drama, Crime]",15
1946,The Bad Lieutenant: Port of Call - New Orleans,6.0,"[Drama, Crime]",326
2640,Things to Do in Denver When You're Dead,6.7,"[Drama, Crime]",85
4065,Mi America,0.0,"[Drama, Crime]",0
1847,GoodFellas,8.2,"[Drama, Crime]",3128
4217,Kids,6.8,"[Drama, Crime]",279
883,Catch Me If You Can,7.7,"[Drama, Crime]",3795
3866,City of God,8.1,"[Drama, Crime]",1814

## 평점 기준으로 정렬(sort_values)해보자, 평가횟수(vote_count) 반영

In [22]:
movies_df[['title', 'vote_average','vote_count']].sort_values('vote_average',ascending=False)[:10]

                         title  vote_average  vote_count
3519          Stiff Upper Lips          10.0           1
4247     Me You and Five Bucks          10.0           2
4045     Dancer, Texas Pop. 81          10.0           1
4662            Little Big Top          10.0           1
3992                 Sardaarji           9.5           2
2386            One Man's Hero           9.3           2
2970        There Goes My Baby           8.5           2
1881  The Shawshank Redemption           8.5        8205
2796     The Prisoner of Zenda           8.4          11
3337             The Godfather           8.4        5893

## 추천 ver2를 만들건데, 평점, 평가횟수, 가중치를 적용한 공식을 만들자

In [23]:
# 가중평점(Weighted Rating)

# (v/(v+m)R + (m/(v+m))C
 
# v : 영화별 평점 투표한 횟수(vote_count), 참여를 많이 하면 가점
 
# m : 평점을 부여하기 위한 최소 투표 횟수 -> 여기서는 상위 60%
 
# R : 개별 영화에 대한 평균 평점(vote_average)
 
# C : 전체 영화에 대한 평균 평점

## -> C, m 고정값. v, m 이 영화의 추천 중요도를 계산하는데 중요

In [24]:
# 상위 6개에 해당하는 vote_count를 최소 투표 횟수인 m에 저장

C = movies_df['vote_average'].mean()
m = movies_df['vote_count'].quantile(0.6)

In [25]:
print('C:', round(C, 3), 'm:', round(m,3))

C: 6.092 m: 370.2

In [26]:
def weighted_vote_average(record):
    v = record['vote_count']
    R = record['vote_average']
    
    return ((v/(v+m)*R) + ((m/(m+v))*C))

In [27]:
movies_df['weighted_vote'] = movies_df.apply(weighted_vote_average, axis=1)

In [28]:
movies_df[['weighted_vote', 'title', 'vote_average', 'vote_count', 'genres']]

,weighted_vote,title,vote_average,vote_count,genres
0,7.166301,Avatar,7.2,11800,"[Action, Adventure, Fantasy, Science Fiction]"
1,6.838594,Pirates of the Caribbean: At World's End,6.9,4500,"[Adventure, Fantasy, Action]"
2,6.284091,Spectre,6.3,4466,"[Action, Adventure, Crime]"
3,7.541095,The Dark Knight Rises,7.6,9106,"[Action, Crime, Drama, Thriller]"
4,6.098838,John Carter,6.1,2124,"[Action, Adventure, Science Fiction]"
...,...,...,...,...,...
4798,6.290894,El Mariachi,6.6,238,"[Action, Crime, Thriller]"
4799,6.089611,Newlyweds,5.9,5,"[Comedy, Romance]"
4800,6.106650,"Signed, Sealed, Delivered",7.0,6,"[Comedy, Drama, Romance, TV Movie]"
4801,6.084894,Shanghai Calling,5.7,7,[]
4802,6.100782,My Date with Drew,6.3,16,[Documentary]

In [29]:
def find_sim_movie_ver2(df, sorted_ind, title_name, top_n=10):
    
    title_movie = df[df['title'] == title_name]
    title_index = title_movie.index.values
    
    # top_n의 2배(10개를 추천받고 싶으면 20개를 뽑기)
    
    
    similar_indexes = sorted_ind[title_index, :(top_n * 2)]
    similar_indexes = similar_indexes.reshape(-1)
    
    # 기준 영화 index는 제외
    
    similar_indexes = similar_indexes[similar_indexes != title_index]
    
    # top_n의 2배에 해당하는 추천후보군 중에서 weighted_vote 높은 순으로 top_n개 추천
    
    return df.iloc[similar_indexes].sort_values('weighted_vote', ascending=False)[:top_n]

In [33]:
find_sim_movie_ver2(movies_df, genre_sim_sorted_ind, 'The Godfather',10)
similar_movies[['title', 'vote_average', 'weighted_vote', 'genres', 'vote_count']]

,title,vote_average,weighted_vote,genres,vote_count
2731,The Godfather: Part II,8.3,8.079586,"[Drama, Crime]",3338
1243,Mean Streets,7.2,6.626569,"[Drama, Crime]",345
3636,Light Sleeper,5.7,6.076900,"[Drama, Crime]",15
1946,The Bad Lieutenant: Port of Call - New Orleans,6.0,6.049012,"[Drama, Crime]",326
2640,Things to Do in Denver When You're Dead,6.7,6.205672,"[Drama, Crime]",85
4065,Mi America,0.0,6.092172,"[Drama, Crime]",0
1847,GoodFellas,8.2,7.976937,"[Drama, Crime]",3128
4217,Kids,6.8,6.396368,"[Drama, Crime]",279
883,Catch Me If You Can,7.7,7.557097,"[Drama, Crime]",3795
3866,City of God,8.1,7.759693,"[Drama, Crime]",1814